/* NavBar Component  */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
}
.menu-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    color: #00A15D;
    font-weight: 700;
    font-size: 20px;
}
#search-bar {
    width: 300px;
    color: #797979;
    font-weight: 400;
    font-size: 20px;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: #EBEBEB;
    height: 44px;

    background-image: url('/public/images/search-icon.png');
    background-position: 10px center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding-left: 50px;
    margin-left: 3rem;
}
.menu-title {
    display: flex;
    align-items: center;
}
.register-css {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 150px;
}
.login-css {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}
.login-img {
    width: 24px;
    height: 24px;
}
.register-img {
    width: 19px;
    height: 19px;
}
.first-letter {
    font-weight: 400;
    font-size: 13px;
    color: #000;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 0 5px;
}
.sec-letter {
    font-weight: 400;
    /* font-size: 18px; */
    color: #888C8D;
    padding-left: 7px;
}
.login-text {
    font-weight: 400;
    font-size: 18px;
    color: #888C8D;
    padding: 0 10px;
    cursor: pointer;
}
.register-text {
    font-weight: 700;
    font-size: 20px;
    color: #00A15D;
    border: 3px solid #00A15D;
    padding: 0 10px;
    border-radius: 12px;
    margin-left: 10px;
    cursor: pointer;
}

/* hover dropdown  */
.dropbtn {
    /* background-color: #4CAF50; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    min-width: 100%; /* Ensure the width matches the button */
}
.dropdown-content a {
    color: #888C8D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}

/* click dropdown  */
.dropdown-click-content {
    display: block;
    position: absolute;
    background-color: white;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 100%; /* Ensure the width matches the button */
} 
.dropdown-click-content span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 20px;
    color: #888C8D;
    text-align: center;
    cursor: pointer;
}
.dropdown-click-content span:hover {
    background-color: #f1f1f1;
}

/* selector component  */
.home-content {
    padding-top: 1rem;
    display: flex;
}
.home-left-component {
    width: 230px;
    margin: 1rem 7px 1rem 12px ;
}
.home-right-component {
    width: calc(100% - 250px);
    margin-bottom: 3rem;
}
.content-width {
    max-width: 800px;
    margin: auto;
}
.right-title {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #00A15D;
}
.nodata-title {
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    color: #000;
    padding: 2rem 0;
}
.photo-block {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.each-photo {
    width: calc((100% - 10rem) / 4);
    margin: 1rem;
}
/* Target every fourth element (remainder 0) */
.each-photo:nth-child(4n) {
    margin-right: 2rem;
}
/* Target every fourth element plus one (remainder 1) */
.each-photo:nth-child(4n+1) {
    margin-left: 2rem;
}
.result-photo {
    width: calc((100% - 8rem) / 3);
    margin: 1rem;
}
/* Target every fourth element (remainder 0) */
.result-photo:nth-child(3n) {
    margin-right: 2rem;
}
/* Target every fourth element plus one (remainder 1) */
.result-photo:nth-child(3n+1) {
    margin-left: 2rem;
}
.photo-img {
    width: 100%;
}
.search-row {
    display: flex;
    justify-content: space-between;
}
.filter-div {
    display: flex;
    align-items: center;
}
.filter-img {
    width: 24px;
    height: 24px;
}
.filter-text {
    font-weight: 400;
    font-size: 18px;
    color: #00A15D;
    padding-left: 10px;
}
.search-btn {
    font-weight: 700;
    font-size: 16px;
    color: #FFF;
    background: #00A15D;
    padding: 3px 1rem;
    border-radius: 6px;
    cursor: pointer;
}

.check-css {
    display: flex;
    flex-direction: column;
}
.el-collapse-item__arrow {
    margin: 0 8px 0 auto;
    transition: transform 0.3s;
    font-weight: 300;
    /* transform: rotate(90deg); */
}
.el-collapse-item__arrow.is-active {
    transform: rotate(-90deg) !important;
}
i.el-collapse-item__arrow.el-icon-arrow-right.is-active:before {
    /* // color: red; */
    /* content: "\e6e0"; */
    transform: rotate(0deg);
    font-size: 1rem;
}
.el-collapse-item__header, .el-collapse-item__header.is-active {
    border-bottom: none !important;
    color: #00A15D;
    font-weight: 700;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
}
.custom-checkbox {
    justify-content: space-between;
}
.custom-checkbox .el-checkbox__label {
    order: 1; /* Change the order of the label */
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.custom-checkbox .el-checkbox__input {
    order: 2; /* Change the order of the input */
}
